.card-box {
    height: 100%;
    !important;}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/assets/images/screen.gif) center no-repeat #fff;
}
.row{
    padding-bottom: 50px;
    !important;
}
.form-note { font-size: 12px; color: #8094ae; font-style: italic; display: block; }

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.project-box{
    height: 300px;
}
